{:include ["config/dnsmasq-external.conf"
           "config/dnsmasq-internal.conf"

           "images/Dockerfile.dnsmasq-external"
           "images/Dockerfile.dnsmasq-internal"]

 :network {:services {:kl-proxy {:endpoints {:container {:url "http://proxy:8080"}}
                                 :default-endpoint :container}}

           :routes {:kl-proxy {:host "proxy.test"
                               :service :kl-proxy}}}

 :networks {:kl {:name "kl"
                 :ipam {:driver "default"
                        :config [{:subnet "172.5.0.0/24"}]}}}

 :containers
 {:dnsmasq-external
  {:build {:context "{{DIR}}"
           :dockerfile "{{DIR}}/images/Dockerfile.dnsmasq-external"}
   :platform "linux/amd64"
   :restart "unless-stopped"
   :command ["--conf-file=/dnsmasq-config/dnsmasq.conf"
             "--except-interface=lo"
             "--bind-interfaces"
             "--log-queries"
             "--log-facility=-"]
   :ports ["53:53/udp"
           "53:53/tcp"]
   :cap_add ["NET_ADMIN"]}

  :dnsmasq-internal
  {:build {:context "."
           :dockerfile "{{DIR}}/images/Dockerfile.dnsmasq-internal"}
   :platform "linux/amd64"
   :restart "unless-stopped"
   :command ["--conf-file=/dnsmasq-config/dnsmasq.conf"
             "--except-interface=lo"
             "--bind-interfaces"
             "--log-queries"
             "--log-facility=-"]
   :networks {:kl {:ipv4_address "172.5.0.100"}}
   :cap_add ["NET_ADMIN"]}

  :proxy
  {:image "traefik:v2.6"
   :restart "unless-stopped"
   :networks {:kl {:ipv4_address "172.5.0.101"}}
   :command ["--api.insecure=true"
             "--providers.file.directory=/proxy-config"
             "--providers.file.watch=true"]
   :ports ["80:80"
           "1001:8080"]
   :volumes ["~/.config/kl/proxy:/proxy-config"]}}}
