{:mvn/repos {"github-kepler" {:url "https://maven.pkg.github.com/kepler16/*"}}

 :paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        metosin/malli {:mvn/version "0.17.0"}
        meta-merge/meta-merge {:mvn/version "1.0.0"}
        metosin/jsonista {:mvn/version "0.3.13"}
        clj-commons/clj-yaml {:mvn/version "1.0.29"}
        babashka/process {:mvn/version "0.6.23"}
        jansi-clj/jansi-clj {:mvn/version "1.0.3"}
        cli-matic/cli-matic {:mvn/version "0.5.4"}
        org.clojars.civa86/pretty.cli {:mvn/version "1.0.1"}
        funcool/promesa {:mvn/version "11.0.678"}
        http-kit/http-kit {:mvn/version "2.8.0"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.8"}}
                   :ns-default build}

           :native {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}}

           :test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                               nubank/matcher-combinators {:mvn/version "3.9.1"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}}}
