{:include ["config/coredns.Corefile"]

 :network {:services {:kl-proxy {:endpoints {:container {:url "http://proxy:8080"}}
                                 :default-endpoint :container}}

           :routes {:kl-proxy {:host "proxy.test"
                               :service :kl-proxy}}}

 :networks {:kl {:name "kl"
                 :ipam {:driver "default"
                        :config [{:subnet "172.5.0.0/24"}]}}}

 :containers
 {:coredns ^:replace
  {:image "coredns/coredns:1.14.2"
   :volumes ["{{DIR}}/config/coredns.Corefile:/Corefile:z"]
   :restart "unless-stopped"
   :command ["-conf" "/Corefile"]
   :ports ["53:1053/udp"
           "53:1053/tcp"]
   :networks {:kl {:ipv4_address "172.5.0.100"}}}

  :proxy ^:replace
  {:image "traefik:v3.6"
   :restart "unless-stopped"
   :networks {:kl {:ipv4_address "172.5.0.101"}}
   :command ["--api.insecure=true"
             "--log.level=INFO"
             "--accesslog=true"
             "--providers.file.directory=/proxy-config"
             "--providers.file.watch=true"]
   :ports ["80:80"]
   :volumes ["~/.config/kl/proxy:/proxy-config:z"]}}}
